* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #292929;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.cal-container {
  padding: 30px;
  width: 250px;
  height: fit-content;
  flex-wrap: wrap;
  margin: 150px;
  justify-content: center;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
