.CallButtons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  background-color: transparent;
}
.Button {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  background-color: bisque;
  font-weight: 600;
  text-align: center;
  align-items: center;
  border: none;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
